    .project-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
background: linear-gradient(to bottom, #f9f9fb, #f3f4f7);
  font-family: 'Poppins', sans-serif;
    }


    .project-header{
    text-align: center;
    margin-bottom: 3rem;
    }

    .project-header h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #26272a;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    }

    .project-header p {
  font-size: 1.1rem;
  color: #2d2d2d;
}

    .gallery {
    display: grid;
 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem; 
    padding: 3rem 0;
   
    justify-content: center;
    }

    .gallery-item {
       

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background: #f9f9f9;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
     cursor: pointer;
    position: relative;
        }

    .gallery-item:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

    .gallery-item-wrapper {
       
    width: 100%;
    height: 100%;
    overflow: hidden;

    }

    .gallery-item-wrapper img {
      
    width: 100%;
    height: clamp(150px, 25vw, 250px);
    display: block;
    object-fit: contain;
    }

    .item-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2c2f48;
  text-align: center;
  padding: 1.5rem 0.5rem;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 2;
  margin-top: 50px;
}
    /*mobile responsive*/
    @media (max-width: 480px) {
    .project-container {
        padding: 1rem 0.5rem;
    }

    .project-header {
        margin-bottom: 2rem;
    }

    .project-header h1 {
        font-size: 1.5rem;
    }

    .project-header p {
        font-size: 1rem;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .gallery-name{
        font-size: 1rem;
    }
    }

