header{
    background: rgb(171, 159, 159);
    padding: 0;

}

a{
    text-decoration: none;
}

.container{
max-width: 1440px;
width: 100%;
margin: 0 auto;
padding: 0 ;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .nav-link{
    display: flex;
}
.container nav .logo{
    color: #212a3c;
    font-size: 1.2rem;
    cursor: pointer;
}
.container .nav-link li{
    list-style: none;
    margin: 0 0.5rem;
}
.container ul li a{
    color: #374269;
    font-size: 1.3rem;
    padding: 0.7rem;
    display: block;
    border-radius: 10px;
    
}
.container ul li a:hover{
    background-color: #ecf0f1;
}
.content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);   
}
.content h2{
    font-size: 4rem;
}
.icon{
    font-size: 1.5rem;
    cursor: pointer;
   display: none;
}

@media(max-width: 768px){
    .content h2{
        font-size: 4rem;
        text-align: center;
    }
    .icon{
        display: block;
    }
    .container .nav-link{
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        position: fixed;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
    }
    .nav-link.active{
        top: 10%;
    }
}